{% extends "themes/base_admin.html.twig" %}

{% block title %}le blog de Jean Dupont - Admin - Tableau de bord{% endblock %}

{% block description %}le blog de Jean Dupont - Admin - Tableau de bord{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Hello {{app.user.firstName}} {{app.user.lastName}}</h1>
{% endblock %}