{% extends "themes/base_admin.html.twig" %}

{% block title %}le blog de Jean Dupont - Admin- Liste des articles{% endblock %}

{% block description %}Le blog de Jean Dupont - Admin - Liste des articles{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des articles</h1>

    <div class="d-flex justify-content-end align-items-center my-3">
        <a href="{{path('admin.post.create')}}" class="btn btn-primary shadow "><i class="fa-solid fa-plus mx-1"></i>Nouvelle article</a>
    </div>
{% endblock %}