{% extends "themes/base_admin.html.twig" %}

{% block title %}le blog de Jean Dupont - Admin- Lire : {{ post.title }}{% endblock %}

{% block description %}le blog de Jean Dupont - Admin- Lire : {{ post.title }}{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">{{post.title}}</h1>

    <div class="container my-5">
        {{ post.content|raw }}
    </div>
{% endblock %}