.cursor-pointer
{
    cursor: pointer;
}

.cursor-pointer:hover
{
    text-decoration: underline;
}

.jd-active
{
    color: $jd_danger !important;
}

.jd-container
{
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media screen and  (min-width: 768px) 
    {
        & 
        {
            width: 50%;
        }

    }

}