{% extends "themes/base_admin.html.twig" %}

{% block title %}le blog de Jean Dupont - Admin- Liste des tags{% endblock %}


{% block description %}Le blog de Jean Dupont - Admin - Liste des tags{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des tags</h1>

    <div class="d-flex justify-content-end align-items-center my-3">
        <a href="#" class="btn btn-primary shadow">Nouveau tag</a>
    </div>
{% endblock %}