<nav class="navbar navbar-expand-lg ">
	<div class="container-lg">
		<a class="navbar-brand" href="{{ path('visitor.welcome.index') }}">JD</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('visitor.welcome.index') }}">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Qui suis-je</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
			</ul>
            <ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class=" btn btn-outline-primary mx-jd" href="#">Connexion</a>
				</li>
				<li class="nav-item">
					<a class=" btn btn-primary mx-jd" href="#">Inscription</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
