{% extends "themes/base_visitor.html.twig" %}

{% block title %} - Le blog sur la santé - Liste des articles{% endblock %}

{% block main %}
    <main>
        {{ include('components/header.html.twig', {title: 'Liste des articles'}) }}

        <div class="container">
            <div class="row ">
                <div class="col-md-6">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 r">
                    <div class="input-group mb-3 d-flex justify-content-center align-items-cente">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Les tags</button>
                        <ul class="dropdown-menu">
                            {% for tag in tags %}
                                <li>{{tag.name}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown link
  </a>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
    </main>
{% endblock %}