<footer class="bg-primary text-white text-center py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="fs-5">Jean Dupont</p>
                <hr>
                <p class="cursor-pointer"><a href="{{path('visitor.welcome.index')}}#about-me"  class="text-decoration-none text-white">Qui suis-je</a></p>
                <p class="cursor-pointer"><a href="{{path('visitor.contact.create')}}" class="text-decoration-none text-white" >Contactez-moi</a></p>
            </div>
            <div class="col-md-4">
                <p class="fs-5">Le blog</p>
                <hr>
                <p class="cursor-pointer"><a href="{{path('visitor.welcome.index')}}#last-posts" class="text-decoration-none text-white">Les 3 derniers articles</a></p>
                <p class="cursor-pointer"><a href="{{path('visitor.blog.index')}}" class="text-decoration-none text-white">Tout mes articles</a></p>
            </div>
            <div class="col-md-4">
                <p class="fs-5">DWWM14B</p>
                <hr>
                <p class="cursor-pointer"><a href="#" class="text-decoration-none text-white">Les conditions générales d'utlisation</a></p>
            </div>
        </div>
    </div>
</footer>