{% extends "themes/base_visitor.html.twig" %}

{% block titel %} - Le blog sur la santé - Formulaire de contact{% endblock %}

{% block main %}
    <main>
        {{ include('components/header_visitor.html.twig', {title: 'Contactez-moi'}) }}
        <div class="container">
            <div class="row">
            </div>
        </div>
    </main>
{% endblock %}