{% extends "themes/base_visitor.html.twig" %}

{% block titel %} - Le blog sur la santé - Formulaire de contact{% endblock %}

{% block main %}
    <main>
        {{ include('components/header.html.twig', {title: 'Contactez-moi'}) }}

    </main>
{% endblock %}