{% extends "themes/base_admin.html.twig" %}

{% block title %}le blog de Jean Dupont - Admin- Nouvelle catégorie{% endblock %}

{% block description %}le blog de Jean Dupont - Admin- Nouvelle catégorie{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Nouvelle catégorie</h1>

    <div class="container mt-5">
        <div class="col-md-6 mx-auto">
            {{form_start(form)}}
                <div class="mb-3">
                    <label for="category_form_name">Nom: </label>
                    <div class="text-danger">{{ form_errors(form.name) }}</div>
                    {{form_widget(form.name, {'attr': {'class': 'form-control'}})}}
                </div>
                <div class="mb-3">
                    <input formnovalidate type="submit" class="btn btn-primary" value"Créer">
                </div>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}