{% extends "themes/base_admin.html.twig" %}

{% block title %}le blog de Jean Dupont - Admin- Liste des catégories{% endblock %}


{% block description %}Le blog de Jean Dupont - Admin - Liste des catégories{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Liste des catégories</h1>

    <div class="d-flex justify-content-end align-items-center my-3">
        <a class="btn btn-primary" href="{{ path('admin.category.create') }}" ><i class="fa-solid fa-plus"></i>Nouvelle catégorie</a>
    </div>
{% endblock %}























