{% extends "themes/base_visitor.html.twig" %}

{% block title %} - En attente de la vérifaication du compte par email{% endblock %}

{% block main %}
    <main class="mt-5 container-fluid text-center">
        <h1 class="my-3 display-5">En attente ...</h1>
        <p class="mt-5">Un email vous a été envoyé pour la validation de votre compte</p>
    </main>
{% endblock %}